/* #region =============== Common Styles =============== */
:root {
    --black: #111;
    --orange: #fd9222;
    --violet: #1e1823;
    --beige: #fcf1e0;
    --light: #fafafa;
    --gray: #4c4c4c;
    --white: #fff;
    --marker-body: #4c4c4c;
    --marker-border: #eceded;
}

:root {
    --font-family: 'Montserrat', sans-serif;
}
 
body {
    font-family: --font-family;
    color: var(--black);
    background-color: var(--light);
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

/* #endregion =============== /Common Styles =============== */
/*!===============================================*/
/* #region =============== Header Styles =============== */

.page-header {}

.logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.03em;
    color: #111;
    text-transform: capitalize;
}

.logo-part {
    font-style: italic;
}

.logo:hover,
.logo:focus,
.nav-list-link:hover,
.nav-list-link:focus {
    color: #fd922f;
}

.page-nav {}

.nav-list {}

.nav-list-item {}

.nav-list-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: -0.02em;
}

.social-list {}

.social-list-item {}

.social-list-link {}

/* #endregion =============== /Header Styles =============== */
/*!===============================================*/
/* #region =============== Hero Styles =============== */

.hero {
    background: rgba(17, 17, 17, 0.7);
}

.hero-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 1.21;
    letter-spacing: -0.03em;
    color: var(--white);
}

.hero-button {
    background-color: var(--orange);
    font-size: 14px;
    font-weight: 600;
    color: var(--white);
}
.hero-button:hover,
.hero-button:focus {
    background-color: var(--beige);
    color: var(--orange);
}

.btn-how-its-made {
    font-size: 14px;
    font-weight: 600;
    color: var(--white);
}
.btn-how-its-made:focus,
.btn-how-its-made:hover,
.skroll-button:hover,
.skroll-button:focus {
    color: var(--orange);
}

.skroll-button {
    font-size: 14px;
    font-weight: 600;
    color: var(--white);
}

/* #endregion =============== /Hero Styles =============== */
/*!===============================================*/
/* #region =============== Section 2 =============== */

.section_benefits {
    background: var(--violet);
}

.title_benefits {}

.list_item_benefits {}

.item_benefits {}

.item_title_benefits {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.22;
    color: var(--white);
}

.item-text_benefits {
    font-size: 14px;
    line-height: 1.28;
    letter-spacing: -0.02em;
    color: rgba(255, 255, 255, 0.7);
}

/* #endregion =============== Section 2 =============== */
/*!===============================================*/
/* #region =============== Ingredients Styles =============== */

/* #endregion =============== /Ingredients Styles =============== */
/*!===============================================*/
/* #region =============== How made Styles =============== */

/* #endregion =============== /How made Styles =============== */

/*!===============================================*/
/* #region =============== Reviews Styles =============== */

/* #endregion =============== /Reviews Styles =============== */

/*!===============================================*/
/* #region =============== Footer Styles =============== */

/* #endregion=============== /Footer Styles =============== */

